# Hub service
DATABASE_URL=postgresql://postgres:postgres@localhost:25432/slates-hub
REDIS_URL=redis://localhost:26379/0
METORIAL_ENV=development

ENCRYPTION_KEY=sTrG+z8ewVo7JJsgmv39UL/YDdgxlHSVhVPJOV7Omdg

# Function Bay
FUNCTION_BAY_API_URL=http://services:52030/metorial-function-bay
FUNCTION_BAY_TENANT_IDENTIFIER=dev-tenant
FUNCTION_BAY_DEFAULT_MEMORY_MB=512
FUNCTION_BAY_DEFAULT_TIMEOUT_SECONDS=15

# Signal
SIGNAL_API_URL=http://services:52050/metorial-signal
SIGNAL_SENDER_IDENTIFIER=dev-slates-hub

# Object storage
OBJECT_STORAGE_URL=http://services:52010
INVOCATIONS_BUCKET_NAME=dev-invocations

# Hub identity
SLATES_HUB_INSTANCE_IDENTIFIER=dev-slates-hub
SERVICE_PUBLIC_URL=http://localhost:52045
