# Hub service
DATABASE_URL=postgresql://slates-hub:slates-hub@localhost:45432/slates-hub
REDIS_URL=redis://localhost:46379/0
METORIAL_ENV=development

ENCRYPTION_KEY=sTrG+z8ewVo7JJsgmv39UL/YDdgxlHSVhVPJOV7Omdg

# Function Bay
FUNCTION_BAY_API_URL=http://localhost:52030/metorial-function-bay
FUNCTION_BAY_TENANT_IDENTIFIER=dev-tenant
FUNCTION_BAY_DEFAULT_MEMORY_MB=512
FUNCTION_BAY_DEFAULT_TIMEOUT_SECONDS=15

# Signal
SIGNAL_API_URL=http://localhost:52050/metorial-signal
SIGNAL_SENDER_IDENTIFIER=dev-slates-hub

# Object storage
OBJECT_STORAGE_URL=http://localhost:52010
INVOCATIONS_BUCKET_NAME=slates-hub-invocations
OBJECT_STORAGE_AWS_ACCESS_KEY_ID=test
OBJECT_STORAGE_AWS_SECRET_ACCESS_KEY=test
OBJECT_STORAGE_AWS_REGION=us-east-1
OBJECT_STORAGE_AWS_S3_BUCKET=slates-hub-local

# Provider defaults
DEFAULT_PROVIDER=aws.lambda
LAMBDA_AWS_REGION=us-east-1
LAMBDA_AWS_ACCESS_KEY_ID=test
LAMBDA_AWS_SECRET_ACCESS_KEY=test
CODE_BUILD_AWS_REGION=us-east-1
CODE_BUILD_AWS_ACCESS_KEY_ID=test
CODE_BUILD_AWS_SECRET_ACCESS_KEY=test

# Registries
INITIAL_REGISTRIES=http://localhost:52040

# Hub identity
SLATES_HUB_INSTANCE_IDENTIFIER=dev-slates-hub
SERVICE_PUBLIC_URL=http://localhost:52045
